<div class='top-margined'>

  <div class='top-margined borders padded'>
    <div id="to-eat-app" class="top-margined">
    </div>
  </div>


  <div class='light-grey centered'>
    Add the query param `?reset_data=true` to reset the food truck data being displayed.
  </div>
</div>
